/* Importa a fonte utilizada no site */
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/* Estilo padrão para tudo no site, colocado no começo para que as próximas 
definições possam substituir esta conforme necessário */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

/* Estilo para o cabeçalho */
.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

/* Estilo para o logo */
.cabecalho-imagem {
  height: 72px;
}

.cabecalho-imagem-br {
  height: 60px;
  }

/* Estilo para o menu */
.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 18px
}

/* As classes que começam com "conteudo" em geral destinan-se a organizar 
os elementos nas páginas e formatar os títulos, substítulos e parágrafos */
.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #ECD6C4;
}

.conteudo-principal-escrito-botao {
  background-color: #ECD6C4;
  width: 180px;
  height: 80px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #2F2325;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
  height: 430px;
  margin-top: 20px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #FFF2E7;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #FFF2EF;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ECD6C4;
}

/* Estilo dos elementos do rodapé */
.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.rodape-imagem {
  height: 48px;
  display: block;
  margin: 0 auto;
}

.rodape-imagem-mapa {
    height: auto;
    display: block;
    margin: 0 auto;
  }

.conteudo-secundario-titulo-rodape {
    /* border-top: 0.4px solid #FFF2E7; */
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2EF;
    margin-bottom: 16px;
  }

  .conteudo-secundario-paragrafo-rodape {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
  }

/* Estilo para os elementos da página de contato 
Descrição do campo*/
  label {
    margin-bottom: 16px;
    margin: 0 auto;
    display: block;
  }

/* Campos de inserção de dados */
  input, textarea {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #2F2325;
  }

  textarea {
    height: 200px;
  }

  div.formulariopost {
    display: block;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 48px;
  }

  .icone {
    height: 30px;
    width: 30px;
    margin-right: 8px;
  }

  .iconegrande {
    height: 60px;
    width: 60px;
    margin-right: 30px;
  }

  .servicos {
    border-top: 0.4px solid #FFF2E7;
  }

  .servicos-tela-inicial {
    margin: 100px auto 50px;
    display: block;
    align-items: center;
    height: 430px;
    margin-top: 20px;
}

  .servicos-conteudo {
    display: flex;
  }

  .servicos-conteudo-funcao {
    padding: 24px;
    background-color: #ECD6C4;
    width: 20%;
    height: 60%;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 8px;
    color: #2F2325;
    margin: 40px 15px 40px;
   
  }
  p.texto {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 16px;
    color: #FFF2E7;
    margin-bottom: 15px;
  }

/* Estilo para a página sobre */
  div.sobrediv {
    display: flex;
    margin: 5% auto;
  }

  div.sobretexto {
    margin-left: 1%;
    width: 40%;
    height: 100%;
    text-align: justify;
    text-justify: inter-word;
  }
  
  div.sobregaleria {
    display: block;
    width: 60%;
    height: 100%;
  }

  div.sobretitulogaleria {
    width: 60%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
  }

  div.sobregaleriagrupo {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    justify-content: space-between;
    margin: 0 auto;
  }

div.sobregaleriagrupo img {
    margin: 3px 3px;
    width: 200px;
  }

/* Define a animação ao colocar o mouse sobre as fotos */
  label.fotos:hover {
    transform: scale(1.5); /* Define o quanto a foto vai aumentar */
    transition: 1s; /* Define o tempo que a animação vai levar */
    rotate: 360deg; /* Define o quanto a foto vai girar */
  }

  label {
    text-align: center;
  }